.nav-top{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #FAFAFA;
    
}

.nav-top-left{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap:2px
}

.nav-top-center{
    font-size: 11px;
    justify-content: center;
    align-items: center;
}

.nav-top-right{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.nav-top-right>:nth-child(1){
    cursor: pointer;
}

.nav-box{
    width: 100%;
}

.nav-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 15px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    gap: 15px;

}

.nav-line{
    text-decoration: none;
    color: black;
}
.nav-line:focus{
    text-decoration: underline;
}

